@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(19, 18, 18);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px 10px 10px;
}
header img {
  width: 200px;
  height: auto;
}
#headerBtns {
  display: flex;
  gap: 20px;
}
header a {
  text-decoration: none;
  color: white;
}
#animatedSection {
  background-image: url("../imgs/moviePics/quarterback.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  transition: 0.9s;
}
#animatedSection-text {
  width: 40%;
  color: white;
  padding: 100px 0px 40px 100px;
  transition: 0.9s;
}
#animatedSection-text h1 {
  padding: 40px 0px;
  font-size: 3em;
  font-weight: bolder;
  transition: 0.9s;
}
#animatedSection p {
  transition: 0.9s;
}
#animatedSection-btns {
  padding-left: 100px;
  padding-bottom: 30px;
}
#watchBtn {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
#watchBtn:hover {
  background-color: rgba(255, 255, 255, 0.662);
}
#plusBtn {
  background-color: rgba(255, 255, 255, 0.425);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#plusBtn:hover {
  background-color: rgba(255, 255, 255, 0.167);
}
#SecondSection {
  padding-top: 20px;
  color: white;
  margin: 10px 30px 50px 30px;
}
.moviesDisplay {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.imgs {
  width: 240px;
  height: 150px;
}
.moviesDisplay img {
  width: 210px;
}
.moviesDisplay img:hover {
  width: 240px;
  height: 150px;
  cursor: pointer;
}
.movieDisplayTitles {
  padding-top: 40px;
}
.keepWatchingMovies {
  border-bottom: 4px solid red;
}
